In [2]:
import csv
import pandas as pd
from datetime import datetime
import calendar
import warnings
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
warnings.filterwarnings("ignore")

In [3]:
try:
    df = pd.read_csv('../CSV/mdc.csv', encoding='utf-8')
except UnicodeDecodeError:
    try:
        df = pd.read_csv('../CSV/mdc.csv', encoding='latin1')
    except UnicodeDecodeError:
        try:
            df = pd.read_csv('../CSV/mdc.csv', encoding='ISO-8859-1')
        except UnicodeDecodeError:
            df = pd.read_csv('../CSV/mdc.csv', encoding='utf-16')

In [4]:
df = df[['title','entity','year','mpa_rating','imdb_rating','tomato_meter','imdb_gross']]
df.head()

,title,entity,year,mpa_rating,imdb_rating,tomato_meter,imdb_gross
0,Captain America,MARVEL,1944,Approved,5.5,0,0
1,Howard the Duck,MARVEL,1986,PG,4.7,13,16300000
2,Blade,MARVEL,1998,R,7.1,55,70090000
3,X-Men,MARVEL,2000,PG-13,7.4,82,157300000
4,Blade II,MARVEL,2002,R,6.7,57,82350000

In [5]:
def format_as_dollars(imdb_gross):
    return '${:,.2f}'.format(imdb_gross)
df['imdb_gross'] = df['imdb_gross'].apply(format_as_dollars)

In [6]:
marvel_df = df[df['entity'] == 'MARVEL']
marvel_df = marvel_df.reset_index(drop=True)
dc_df = df[df['entity'] == 'DC']
dc_df = dc_df.reset_index(drop=True)
dc_df

,title,entity,year,mpa_rating,imdb_rating,tomato_meter,imdb_gross
0,Superman and the Mole-Men,DC,1951,Passed,5.7,0,$0.00
1,Batman: The Movie,DC,1966,PG,6.5,79,$0.00
2,Superman,DC,1978,PG,7.3,94,"$134,220,000.00"
3,Superman II,DC,1980,PG,6.8,86,"$108,190,000.00"
4,Swamp Thing,DC,1982,PG,5.4,63,$0.00
5,Superman III,DC,1983,PG,5.0,30,"$59,950,000.00"
6,Supergirl,DC,1984,PG,4.4,9,"$13,600,000.00"
7,Superman IV: The Quest for Peace,DC,1987,PG,3.7,11,"$15,680,000.00"
8,The Return of Swamp Thing,DC,1989,PG-13,4.6,44,"$190,000.00"
9,Batman,DC,1989,PG-13,7.5,71,"$251,190,000.00"
10,Batman Returns,DC,1992,PG-13,7.0,80,"$162,830,000.00"
11,Batman Forever,DC,1995,PG-13,5.4,38,"$184,030,000.00"
12,Batman & Robin,DC,1997,PG-13,3.8,12,"$107,330,000.00"
13,Steel,DC,1997,PG-13,2.9,12,"$1,710,000.00"
14,Catwoman,DC,2004,PG-13,3.4,9,"$40,200,000.00"
15,Constantine,DC,2005,R,7.0,46,"$75,980,000.00"
16,Batman Begins,DC,2005,PG-13,8.2,84,"$206,850,000.00"
17,Superman Returns,DC,2006,PG-13,6.0,75,"$200,080,000.00"
18,The Dark Knight,DC,2008,PG-13,9.0,94,"$534,860,000.00"
19,Watchmen,DC,2009,R,7.6,65,"$107,510,000.00"
20,Jonah Hex,DC,2010,PG-13,4.7,12,"$10,540,000.00"
21,Green Lantern,DC,2011,PG-13,5.5,26,"$116,600,000.00"
22,The Dark Knight Rises,DC,2012,PG-13,8.4,87,"$448,140,000.00"
23,Man of Steel,DC,2013,PG-13,7.0,56,"$291,050,000.00"
24,Batman v Superman: Dawn of Justice,DC,2016,PG-13,6.4,28,"$330,360,000.00"
25,Suicide Squad,DC,2016,PG-13,5.9,26,"$325,100,000.00"
26,Wonder Woman,DC,2017,PG-13,7.4,93,"$412,560,000.00"
27,Justice League,DC,2017,PG-13,6.1,40,"$229,020,000.00"
28,Aquaman,DC,2018,PG-13,6.9,65,"$335,060,000.00"
29,Shazam!,DC,2019,PG-13,7.0,90,"$140,370,000.00"
30,Joker,DC,2019,R,8.4,68,"$335,450,000.00"
31,Birds of Prey,DC,2020,R,6.1,79,"$84,160,000.00"
32,Wonder Woman 1984,DC,2020,PG-13,5.4,59,"$46,370,000.00"

In [7]:
marvel_df.to_csv('../CSV/marvel_movies.csv')

In [8]:
dc_df.to_csv('../CSV/dc_movies.csv')